<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='books.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='books.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design</title>
</head>

<body>
    <h1>CS 257: Books Sample Web App</h1>
    <p>The appearance of this user interface is completely bare-bones, and
    not suitable for a final product. The point here is only to illustrate a
    handful of techniques in Javascript and Flask and PostgreSQL.</p>

    <p>Authors <select id="author_selector"></select></p>

    <p><table id="books_table"></table></p>
</body>
</html>
