/*
    sample5.css
    Jeff Ondich
    17 November 2020

    This sample illustrates a technique for creating a sequence
    of menus/lists, where the selection of the first list determines the
    contents of the second list, etc.
*/

.menu {
    margin: 20px;
    padding: 5px;
    float: left;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.menu ul li {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.menu ul li:hover {
    background-color: #555;
    color: white;
}

.menu ul li.selected {
    background-color: #777;
    color: #eee;
}

